name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: mikelj917
          template: classic
          base: header, repositories
          config_timezone: UTC
          plugin_activity: no
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 20
          plugin_activity_visibility: all
          commits_authoring: dmyna
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_sections: most-used
          plugin_languages_analysis_timeout: 60
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_details: lines, percentage
          plugin_languages_other: false
          plugin_languages_limit: 10,
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 30
          plugin_languages_recent_load: 300
          plugin_languages_analysis_timeout_repositories: 15
          plugin_lines: yes
